.fw-bold {
  font-weight: 60 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

/* mudar cor do número */
pre.sourceCode code > span.code-line-number {
  color: darkred;         /* cor do número */
  font-weight: bold;      /* opcional */
}

/* mudar cor do fundo da coluna */
pre.sourceCode code {
  counter-reset: line;
}

pre.sourceCode {
  border-left: 3px solid darkred; /* opcional, barra decorativa */
}
