/* Aplica Title Case a todos os títulos de parágrafos */
h1, h2, h3, h4, h5, h6 {
    text-transform: none;
}

/* Aplica a primeira letra em maiúscula e o restante em minúsculas apenas ao título principal */
.page-title::first-letter {
    text-transform: uppercase;
}

.page-title {
    text-transform: lowercase;
}
